.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
}
.quantity {
  font-weight: 900;
  font-size: 18px;
  line-height: calc(30 / 18);
}
