.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

.td_head {
  background-color: var(--bcg-color-profile);
  color: var(--color-text-second);
}

.tr_head {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  border: 1px solid var(--color-text);
}

.td_item {
  text-align: center;
  height: 60px;
  border-left: 1px solid var(--color-text);
}
.td_item:last-child {
  border-right: 1px solid var(--color-text);
}

.tr_item:nth-child(even) {
  background-color: var(--color-td-second);
  color: var(--color-text-second);
}
